<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>連結帳號 - 登入</title>
	</head>
	<body>
		<form action="/connect/login" method="POST">
			使用者名稱: <input type="text" name="username" />
			<br />
			密碼: <input type="password" name="password" />
			<br />
			<input type="submit" />
		</form>
		或
		<br />
		<a href="/connect/signup">註冊</a>
		<br />
		<a href="/connect/facebook">使用 Facebook 登入</a>
	</body>
</html>