<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Link Account - Log in</title>
	</head>
	<body>
		<form action="/connect/login" method="POST">
			Username: <input type="text" name="username" />
			<br />
			Password: <input type="password" name="password" />
			<br />
			<input type="submit" />
		</form>
		or
		<br />
		<a href="/connect/signup">Sign up</a>
		<br />
		<a href="/connect/facebook">Log in with Facebook</a>
	</body>
</html>