<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
		<title>首頁</title>
	</head>
	<body>
		<div id="app">
			<main-layout :items="items">
				<v-container fluid grid-list-md>
					<v-layout row wrap>

						<summary-card title="第一頁" text="...這是第一頁 這是第一頁 這是第一頁 這是第一頁 這是第一頁 這是第一頁..." thumbnail=""></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>
						<summary-card></summary-card>

					</v-layout>
				</v-container>
			</main-layout>
		</div>

		<script>
			new Vue({
				data: {
					items: [
						{icon: 'home', text: '首頁', url: '/'},
						{icon: 'account_circle', text: '登入', url: '/login'},
						{icon: 'account_circle', text: '註冊', url: '/signup'},
						{ divider: true }
					]
				},
				vuetify
			}).$mount('#app')
		</script>
	</body>
</html>