<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
		<title>Live Board - 註冊</title>
	</head>
	<body>
		<div id="app">
			<centered-form action="註冊" url="/login" another="登入" facebook="使用 Facebook 註冊"></centered-form>
		</div>

		<script src="auth.bundle.js"></script>
	</body>
</html>